*.DS_Store
desktop.ini
*sitemap.xml
*Thumbs.db
*tg.json
*.me.*
/public_html/files
/content/cronjob/*.txt
/public_html/sitemap
/public_html/sitemap.xml

/includes/database/backup
/includes/database/log
/includes/database/version
/includes/log

*sftp-config.json
*.me.php
*crontab.txt

/dash