{%extends display.mvc%}

{%block body%}

  <div class="blogEx">
    <header data-scroll>
      <h1><a href="{{url.kingdom}}">{{site.title}}</a></h1>
      <h2>{{site.desc}}</h2>
    </header>
    <nav>
      <a href="{{url.kingdom}}">{%trans "Homepage"%}</a>
      <a href="{{url.kingdom}}/about">{%trans "About"%}</a>
      <a href="{{url.kingdom}}/contact">{%trans "Contact"%}</a>
    </nav>

    <main data-xhr='main'>
{%block page%}{%endblock%}
    </main>

    <footer>
      <div class="copyright"><a href="{{url.kingdom}}">{{site.title}}</a></div>

    </footer>
  </div>

{%endblock%}
