{%extends display.mvc%}

{%block body%}

  <div class="blogEx sample">
    <header data-scroll>
      <h1><a href="{{url.kingdom}}">{{site.title}}</a></h1>
      <h2>{{site.desc}}</h2>
    </header>
    <nav>
      <a href="{{url.kingdom}}">{%trans "Homepage"%}</a>
      <a href="{{url.kingdom}}/about">{%trans "About"%}</a>
      <a href="{{url.kingdom}}/contact">{%trans "Contact"%}</a>
      <a href="{{url.kingdom}}/nationalcode">{%trans "National code"%}</a>
      <a href="{{url.kingdom}}/abjad">{%trans "Abjad"%}</a>
      <a href="{{url.kingdom}}/i/food" data-direct>{%trans "Food"%}</a>
    </nav>

    <main data-xhr='main'>
{%block page%}{%endblock%}
    </main>

    <footer>
      <div class="copyright"><a href="{{url.kingdom}}">{{site.title}}</a></div>
      {{langList({'html':true, 'all': true}) | raw}}
    </footer>
  </div>

{%endblock%}
