{%extends 'content_i/food/layout.html'%}



{%block pageContent%}

{%if dataTable%}
 {%if dataFilter%}

  {{block('htmlSearchBox')}}
  {{block('htmlTable')}}
  {{block('htmlFilter')}}

 {%else%}

  {{block('htmlSearchBox')}}
  {{block('htmlTable')}}

 {%endif%}
{%else%}
 {%if dataFilter%}

  {{block('htmlSearchBox')}}
  {{block('htmlFilterNoResult')}}

 {%else%}

  {{block('htmlStartAddNew')}}

 {%endif%}
{%endif%}

{%endblock%}




{%block htmlSearchBox%}
<div class="cbox fs12">
  <form method="get" action='{{url.this}}'>
    <div class="input">
      <input type="search" name="q" placeholder='{%trans "Search"%}' id="q" value="{{requestGET.q}}" autofocus  data-pass='submit' autocomplete='off'>
      <button class="addon btn ">{%trans "Search" %}</button>
    </div>
  </form>
</div>
{%endblock%}


{%block htmlTable%}

  <table class="tbl1 v1 cbox fs12">
    <thead>
      <tr>
        <th class="">#</th>
        <th class="">{%trans "User"%}</th>
        <th class="s0" data-sort="{{sortLink.image.order}}"><a href="{{sortLink.image.link}}">{%trans "image"%}</a></th>
        <th class="" data-sort="{{sortLink.title.order}}"><a href="{{sortLink.title.link}}">{%trans "title"%}</a></th>
        <th class="s0" data-sort="{{sortLink.subtitle.order}}"><a href="{{sortLink.subtitle.link}}">{%trans "subtitle"%}</a></th>
        <th class="" data-sort="{{sortLink.cat.order}}"><a href="{{sortLink.cat.link}}">{%trans "cat"%}</a></th>
        <th class="s0" data-sort="{{sortLink.cat2.order}}"><a href="{{sortLink.cat2.link}}">{%trans "cat2"%}</a></th>
        <th class="" data-sort="{{sortLink.size.order}}"><a href="{{sortLink.size.link}}">{%trans "size"%}</a></th>
        <th class="s0" data-sort="{{sortLink.desc.order}}"><a href="{{sortLink.desc.link}}">{%trans "desc"%}</a></th>
        <th class="" data-sort="{{sortLink.datetime.order}}"><a href="{{sortLink.datetime.link}}">{%trans "datetime"%}</a></th>
      </tr>
    </thead>

    <tbody>
      {%for key, value in dataTable%}
      <tr>
        <td class="" ><a href="{{url.this}}/edit?id={{value.id}}"> <i class="sf-edit"></i> {{value.id | fitNumber}}</a></td>
        <td class="" >{%if value.avatar%}<img src="{{value.avatar}}" class="avatar">{%endif%} <b><a href="{{url.this}}?user={{value.user_id}}">{{value.displayname}}</a></b></td>
        <td class="s0" >{%if value.image%}<img src="{{value.image}}" class="avatar">{%endif%}</td>
        <td class="" ><a href="{{url.this}}?title={{value.title}}">{{value.title}}</a></td>
        <td class="s0" ><a href="{{url.this}}?subtitle={{value.subtitle}}">{{value.subtitle}}</a></td>
        <td class="" ><a href="{{url.this}}?cat={{value.cat}}">{{value.cat}}</a></td>
        <td class="s0" ><a href="{{url.this}}?cat2={{value.cat2}}">{{value.cat2}}</a></td>
        <td class="" ><a href="{{url.this}}?size={{value.size}}">{{value.size}}</a></td>
        <td class="s0" >{{value.desc}}</td>
        <td class=""  title="{{value.datetime | dt}}">{{value.datetime | dt('human','year')}} <br> <a href="{{url.this}}?date={{value.datetime}}">{{value.datetime | dt(true)}}</a></td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
  {%include display.pagination%}

{%endblock%}


{%block htmlFilter%}
<p class="f fs14 msg info2">
  <span class="c">{{dataFilter | raw}}</span>
  <a class="cauto" href="{{url.this}}">{%trans "Clear filters"%}</a>
</p>
{%endblock%}


{%block htmlFilterNoResult%}
<p class="f fs14 msg warn2">
  <span class="c">{%trans "Result not found!"%} {%trans "Search with new keywords."%}</span>
  <a class="cauto" href="{{url.this}}">{%trans "Clear filters"%}</a>
</p>
{%endblock%}


{%block htmlStartAddNew%}
<p class="fs14 msg success2 pTB20">{%trans "Hi!"%} <a href="{{url.this}}/add">{%trans "Add"%}</a></p>
{%endblock%}

