{%extends 'content_i/food/layout.html'%}



{%block pageContent%}

<div class="f hide">

  <div class="c s6">
    <a class="dcard {%if url.module == 'audio' %}active{%endif%}" href='{{url.here}}/audio'>
     <div class="statistic">
      <div class="value"><i class="sf-list"></i></div>
      <div class="label">{%trans "List"%}</div>
     </div>
    </a>
   </div>

  <div class="c s6">
    <a class="dcard {%if url.module == 'entry' %}active{%endif%}" href='{{url.here}}/entry'>
     <div class="statistic">
      <div class="value"><i class="sf-broadcast"></i></div>
      <div class="label">{%trans "Check audio online"%}</div>
     </div>
    </a>
   </div>

</div>

{%if dataTable%}
 {%if dataFilter%}

  {{block('htmlSearchBox')}}
  {{block('htmlTable')}}
  {{block('htmlFilter')}}

 {%else%}

  {{block('htmlSearchBox')}}
  {{block('htmlTable')}}

 {%endif%}
{%else%}
 {%if dataFilter%}

  {{block('htmlSearchBox')}}
  {{block('htmlFilterNoResult')}}

 {%else%}

  {{block('htmlStartAddNew')}}

 {%endif%}
{%endif%}

{%endblock%}




{%block htmlSearchBox%}
<div class="cbox fs12">
  <form method="get" action='{{url.this}}'>
    <div class="input">
      <input type="search" name="q" placeholder='{%trans "Search"%}' id="q" value="{{requestGET.q}}" autofocus  data-pass='submit' autocomplete='off'>
      <button class="addon btn ">{%trans "Search" %}</button>
    </div>
  </form>
</div>
{%endblock%}


{%block htmlTable%}

  <table class="tbl1 v1 cbox fs12">
    <thead>
      <tr>
        <th class="collapsing">&nbsp;</th>
        <th data-sort="{{sortLink.qari.order}}"><a href="{{sortLink.qari.link}}">{%trans "Qari"%}</a></th>
        <th data-sort="{{sortLink.type.order}}"><a href="{{sortLink.type.link}}">{%trans "Type"%}</a></th>
        <th data-sort="{{sortLink.readtype.order}}"><a href="{{sortLink.readtype.link}}">{%trans "Read type"%}</a></th>
        <th data-sort="{{sortLink.filetype.order}}"><a href="{{sortLink.filetype.link}}">{%trans "file type"%}</a></th>
        <th data-sort="{{sortLink.country.order}}"><a href="{{sortLink.country.link}}">{%trans "Country"%}</a></th>
        <th data-sort="{{sortLink.quality.order}}"><a href="{{sortLink.quality.link}}">{%trans "Quality"%}</a></th>
        <th data-sort="{{sortLink.addr.order}}"><a href="{{sortLink.addr.link}}">{%trans "Addr"%}</a></th>
        <th data-sort="{{sortLink.status.order}}"><a href='{{sortLink.status.link}}'>{%trans "Status"%}</a></th>
      </tr>
    </thead>

    <tbody>
      {%for key, value in dataTable%}
      <tr>
        <td><img src="{{value.avatar}}" class="avatar"></td>
        <td><a href="{{url.this}}/edit?id={{value.id}}"> <i class="sf-edit"></i> {%set myqari = value.qari%}{%trans myqari%}</a></td>
        <td>{%set mytype = value.type%}{%trans mytype%}</td>
        <td>{%set myreadtype = value.readtype%}{%trans myreadtype%}</td>
        <td>{{value.filetype}}</td>
        <td>{{value.location_string}}</td>
        <td>{{value.quality | fitNumber}}</td>
        <td>{{value.addr}}</td>
        <td>{%set mystatus = value.status%}{%trans mystatus%}</td>

      </tr>
      {%endfor%}
    </tbody>
  </table>
  {%include display.pagination%}

{%endblock%}


{%block htmlFilter%}
<p class="f fs14 msg info2">
  <span class="c">{{dataFilter | raw}}</span>
  <a class="cauto" href="{{url.this}}">{%trans "Clear filters"%}</a>
</p>
{%endblock%}


{%block htmlFilterNoResult%}
<p class="f fs14 msg warn2">
  <span class="c">{%trans "Result not found!"%} {%trans "Search with new keywords."%}</span>
  <a class="cauto" href="{{url.this}}">{%trans "Clear filters"%}</a>
</p>
{%endblock%}


{%block htmlStartAddNew%}
<p class="fs14 msg success2 pTB20">{%trans "Hi!"%} <a href="{{url.this}}/add">{%trans "Try to start with add new audio!"%}</a></p>
{%endblock%}

