{%extends 'content_i/food/layout.html'%}

{%block pageContent%}
<form method="post" enctype="multipart/form-data" autocomplete="off">
<div class="f justify-center">
  <div class="c4 s12">
    <div class="cbox">

		{{block('iimage')}}
		{{block('ititle')}}
		{{block('isize')}}
        {{block("iadd")}}
        <h6 class="btn block mT20" data-kerkere=".otherData">{%trans "Other"%}</h6>
        <div class="otherData" data-kerkere-content='hide'>

		{{block('idate')}}
		{{block('itime')}}
		{{block('isubtitle')}}
		{{block('icat')}}
		{{block('icat2')}}
		{{block('idesc')}}
        </div>
    </div>
  </div>
</div>
</form>
{%endblock%}









