@charset "UTF-8";

@font-face {
  font-family: "siftal";
  src:url("siftal.eot");
  src:url("siftal.eot?#iefix") format("embedded-opentype"),
    url("siftal.woff") format("woff"),
    url("siftal.ttf") format("truetype"),
    url("siftal.svg#siftal") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "siftal" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="sf-"]:before,
[class*=" sf-"]:before {
  font-family: "siftal" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sf-angle-down:before {
  content: "\61";
}
.sf-angle-left:before {
  content: "\62";
}
.sf-angle-right:before {
  content: "\63";
}
.sf-angle-up:before {
  content: "\64";
}
.sf-bell:before {
  content: "\65";
}
.sf-bell-o:before {
  content: "\66";
}
.sf-bell-slash:before {
  content: "\67";
}
.sf-bell-slash-o:before {
  content: "\68";
}
.sf-bug:before {
  content: "\69";
}
.sf-bolt:before {
  content: "\6a";
}
.sf-check:before {
  content: "\6f";
}
.sf-chain-broken:before {
  content: "\70";
}
.sf-cc-paypal:before {
  content: "\6b";
}
.sf-cc-visa:before {
  content: "\6c";
}
.sf-cloud-download:before {
  content: "\6d";
}
.sf-cloud-upload:before {
  content: "\6e";
}
.sf-cloud:before {
  content: "\71";
}
.sf-comment:before {
  content: "\72";
}
.sf-comment-o:before {
  content: "\73";
}
.sf-commenting:before {
  content: "\74";
}
.sf-clone:before {
  content: "\75";
}
.sf-commenting-o:before {
  content: "\76";
}
.sf-comments:before {
  content: "\77";
}
.sf-comments-o:before {
  content: "\78";
}
.sf-cog:before {
  content: "\79";
}
.sf-desktop:before {
  content: "\7a";
}
.sf-envelope-o:before {
  content: "\41";
}
.sf-envelope:before {
  content: "\42";
}
.sf-ellipsis-v:before {
  content: "\43";
}
.sf-ellipsis-h:before {
  content: "\44";
}
.sf-crop:before {
  content: "\45";
}
.sf-crosshairs:before {
  content: "\46";
}
.sf-bar-chart:before {
  content: "\47";
}
.sf-balance-scale:before {
  content: "\48";
}
.sf-arrows-h:before {
  content: "\49";
}
.sf-arrows-v:before {
  content: "\4a";
}
.sf-arrows-alt:before {
  content: "\4b";
}
.sf-arrows:before {
  content: "\4c";
}
.sf-android:before {
  content: "\4d";
}
.sf-align-right:before {
  content: "\4e";
}
.sf-align-left:before {
  content: "\4f";
}
.sf-align-justify:before {
  content: "\50";
}
.sf-align-center:before {
  content: "\51";
}
.sf-bullhorn:before {
  content: "\52";
}
.sf-asterisk:before {
  content: "\53";
}
.sf-bookmark-o:before {
  content: "\54";
}
.sf-bookmark:before {
  content: "\55";
}
.sf-caret-right:before {
  content: "\56";
}
.sf-caret-left:before {
  content: "\57";
}
.sf-caret-down:before {
  content: "\58";
}
.sf-caret-up:before {
  content: "\59";
}
.sf-file-code-o:before {
  content: "\5a";
}
.sf-file-audio-o:before {
  content: "\30";
}
.sf-file-archive-o:before {
  content: "\31";
}
.sf-file-excel-o:before {
  content: "\32";
}
.sf-file:before {
  content: "\33";
}
.sf-file-pdf-o:before {
  content: "\34";
}
.sf-file-powerpoint-o:before {
  content: "\35";
}
.sf-file-text:before {
  content: "\36";
}
.sf-file-text-o:before {
  content: "\37";
}
.sf-file-word-o:before {
  content: "\38";
}
.sf-files-o:before {
  content: "\39";
}
.sf-film:before {
  content: "\21";
}
.sf-file-video-o:before {
  content: "\22";
}
.sf-floppy-o:before {
  content: "\23";
}
.sf-file-image-o:before {
  content: "\24";
}
.sf-file-o:before {
  content: "\25";
}
.sf-flag:before {
  content: "\26";
}
.sf-flag-checkered:before {
  content: "\27";
}
.sf-flag-o:before {
  content: "\28";
}
.sf-gavel:before {
  content: "\29";
}
.sf-heart:before {
  content: "\2a";
}
.sf-heart-o:before {
  content: "\2b";
}
.sf-history:before {
  content: "\2c";
}
.sf-home:before {
  content: "\2d";
}
.sf-hourglass:before {
  content: "\2e";
}
.sf-hourglass-end:before {
  content: "\2f";
}
.sf-hourglass-half:before {
  content: "\3a";
}
.sf-hourglass-o:before {
  content: "\3b";
}
.sf-info:before {
  content: "\3c";
}
.sf-industry:before {
  content: "\3d";
}
.sf-graduation-cap:before {
  content: "\3e";
}
.sf-globe:before {
  content: "\3f";
}
.sf-glass:before {
  content: "\40";
}
.sf-line-chart:before {
  content: "\5b";
}
.sf-github-square:before {
  content: "\5d";
}
.sf-github-alt:before {
  content: "\5e";
}
.sf-github:before {
  content: "\5f";
}
.sf-language:before {
  content: "\60";
}
.sf-laptop:before {
  content: "\7b";
}
.sf-quote-left:before {
  content: "\7c";
}
.sf-quote-right:before {
  content: "\7d";
}
.sf-spinner:before {
  content: "\7e";
}
.sf-star:before {
  content: "\5c";
}
.sf-star-half:before {
  content: "\e000";
}
.sf-star-half-o:before {
  content: "\e001";
}
.sf-star-o:before {
  content: "\e002";
}
.sf-sort-amount-asc:before {
  content: "\e003";
}
.sf-sort-alpha-desc:before {
  content: "\e004";
}
.sf-sort-alpha-asc:before {
  content: "\e005";
}
.sf-sort-amount-desc:before {
  content: "\e006";
}
.sf-sort-numeric-desc:before {
  content: "\e007";
}
.sf-sort-numeric-asc:before {
  content: "\e008";
}
.sf-rss:before {
  content: "\e009";
}
.sf-windows:before {
  content: "\e00a";
}
.sf-unlock:before {
  content: "\e00b";
}
.sf-unlock-alt:before {
  content: "\e00c";
}
.sf-youtube-play:before {
  content: "\e00d";
}
.sf-user-plus:before {
  content: "\e00e";
}
.sf-user:before {
  content: "\e00f";
}
.sf-user-md:before {
  content: "\e010";
}
.sf-user-secret:before {
  content: "\e011";
}
.sf-users:before {
  content: "\e012";
}
.sf-user-times:before {
  content: "\e013";
}
.sf-volume-up:before {
  content: "\e014";
}
.sf-volume-off:before {
  content: "\e015";
}
.sf-volume-down:before {
  content: "\e016";
}
.sf-wrench:before {
  content: "\e017";
}
.sf-thumbs-down:before {
  content: "\e018";
}
.sf-thumbs-o-down:before {
  content: "\e019";
}
.sf-thumbs-o-up:before {
  content: "\e01a";
}
.sf-thumbs-up:before {
  content: "\e01b";
}
.sf-thumb-tack:before {
  content: "\e01c";
}
.sf-trello:before {
  content: "\e01d";
}
.sf-tachometer:before {
  content: "\e01e";
}
.sf-recycle:before {
  content: "\e01f";
}
.sf-graph-bar:before {
  content: "\e020";
}
.sf-graph-horizontal:before {
  content: "\e021";
}
.sf-check-1:before {
  content: "\e022";
}
.sf-monitor:before {
  content: "\e023";
}
.sf-wrench-1:before {
  content: "\e024";
}
.sf-widget:before {
  content: "\e025";
}
.sf-thumbnails:before {
  content: "\e026";
}
.sf-save:before {
  content: "\e027";
}
.sf-chart-pie:before {
  content: "\e028";
}
.sf-chart-line:before {
  content: "\e029";
}
.sf-chart-bar:before {
  content: "\e02a";
}
.sf-chart-area:before {
  content: "\e02b";
}
.sf-chat:before {
  content: "\e02c";
}
.sf-flow-tree:before {
  content: "\e02d";
}
.sf-gauge:before {
  content: "\e02e";
}
.sf-flight:before {
  content: "\e02f";
}
.sf-graph:before {
  content: "\e030";
}
.sf-grid:before {
  content: "\e031";
}
.sf-dzone:before {
  content: "\e032";
}
.sf-enter:before {
  content: "\e033";
}
.sf-pinboard:before {
  content: "\e034";
}
.sf-share:before {
  content: "\e035";
}
.sf-out:before {
  content: "\e036";
}
.sf-signout:before {
  content: "\e038";
}
.sf-sign-out:before {
  content: "\e037";
}
.sf-lock:before {
  content: "\e039";
}
.sf-info-circle:before {
  content: "\e03a";
}
.sf-question:before {
  content: "\e03b";
}
.sf-question-circle:before {
  content: "\e03c";
}
.sf-plus-circle:before {
  content: "\e03d";
}
.sf-plus:before {
  content: "\e03e";
}
.sf-search:before {
  content: "\e03f";
}
.sf-times-circle:before {
  content: "\e040";
}
.sf-times:before {
  content: "\e041";
}
.sf-filter:before {
  content: "\e042";
}
.sf-clipboard:before {
  content: "\e043";
}
.sf-at:before {
  content: "\e044";
}
.sf-instagram:before {
  content: "\e045";
}
.sf-archive:before {
  content: "\e046";
}
.sf-print:before {
  content: "\e047";
}
.sf-tags:before {
  content: "\e048";
}
.sf-tag:before {
  content: "\e049";
}
.sf-bars:before {
  content: "\e04a";
}
.sf-cogs:before {
  content: "\e04b";
}
.sf-tasks:before {
  content: "\e04c";
}
.sf-analytics-chart-graph:before {
  content: "\e04d";
}
.sf-chart:before {
  content: "\e04e";
}
.sf-database:before {
  content: "\e04f";
}
.sf-whatsapp:before {
  content: "\e050";
}
.sf-linkedin-square:before {
  content: "\e051";
}
.sf-linkedin:before {
  content: "\e052";
}
.sf-twitter-square:before {
  content: "\e053";
}
.sf-twitter:before {
  content: "\e054";
}
.sf-retweet:before {
  content: "\e055";
}
.sf-refresh:before {
  content: "\e056";
}
.sf-load-c:before {
  content: "\e057";
}
.sf-trophy:before {
  content: "\e058";
}
.sf-ribbon-b:before {
  content: "\e059";
}
.sf-ribbon-a:before {
  content: "\e05a";
}
.sf-edit-write:before {
  content: "\e05b";
}
.sf-building:before {
  content: "\e05c";
}
.sf-pencil-square-o:before {
  content: "\e05d";
}
.sf-pencil-square:before {
  content: "\e05e";
}
.sf-pencil:before {
  content: "\e05f";
}
.sf-bold:before {
  content: "\e060";
}
.sf-crop-1:before {
  content: "\e061";
}
.sf-align-center-1:before {
  content: "\e062";
}
.sf-align-justify-1:before {
  content: "\e063";
}
.sf-align-left-1:before {
  content: "\e064";
}
.sf-indent:before {
  content: "\e065";
}
.sf-outdent:before {
  content: "\e066";
}
.sf-superscript:before {
  content: "\e067";
}
.sf-subscript:before {
  content: "\e068";
}
.sf-align-right-1:before {
  content: "\e069";
}
.sf-font:before {
  content: "\e06a";
}
.sf-list:before {
  content: "\e06b";
}
.sf-pencil-square-1:before {
  content: "\e06c";
}
.sf-text-height:before {
  content: "\e06d";
}
.sf-trash:before {
  content: "\e06e";
}
.sf-trash-o:before {
  content: "\e06f";
}
.sf-ban:before {
  content: "\e070";
}
.sf-minus-circle:before {
  content: "\e071";
}
.sf-minus-square:before {
  content: "\e072";
}
.sf-link:before {
  content: "\e073";
}
.sf-link-external:before {
  content: "\e074";
}
.sf-tools:before {
  content: "\e075";
}
.sf-wrench-2:before {
  content: "\e076";
}
.sf-power-off:before {
  content: "\e077";
}
.sf-credit-card:before {
  content: "\e078";
}
.sf-user-7:before {
  content: "\e079";
}
.sf-user-6:before {
  content: "\e07a";
}
.sf-user-4:before {
  content: "\e07b";
}
.sf-user-3:before {
  content: "\e07c";
}
.sf-user-5:before {
  content: "\e07d";
}
.sf-forum-user:before {
  content: "\e07e";
}
.sf-file-1:before {
  content: "\e07f";
}
.sf-folder:before {
  content: "\e080";
}
.sf-folder-1:before {
  content: "\e081";
}
.sf-medal:before {
  content: "\e082";
}
.sf-network:before {
  content: "\e083";
}
.sf-save-1:before {
  content: "\e084";
}
.sf-star-1:before {
  content: "\e085";
}
.sf-display:before {
  content: "\e086";
}
.sf-dollar:before {
  content: "\e087";
}
.sf-euro:before {
  content: "\e088";
}
.sf-pound:before {
  content: "\e089";
}
.sf-money-banknote:before {
  content: "\e08a";
}
.sf-male-rounded-1:before {
  content: "\e08b";
}
.sf-female-rounded-1:before {
  content: "\e08c";
}
.sf-female:before {
  content: "\e08d";
}
.sf-male:before {
  content: "\e08e";
}
.sf-arrows-out:before {
  content: "\e08f";
}
.sf-print-1:before {
  content: "\e090";
}
.sf-zoom-out:before {
  content: "\e091";
}
.sf-earth:before {
  content: "\e092";
}
.sf-building-o:before {
  content: "\e093";
}
.sf-briefcase:before {
  content: "\e094";
}
.sf-interface-windows:before {
  content: "\e095";
}
.sf-angle-double-down:before {
  content: "\e096";
}
.sf-angle-double-left:before {
  content: "\e097";
}
.sf-angle-double-right:before {
  content: "\e098";
}
.sf-angle-double-up:before {
  content: "\e099";
}
.sf-arrow-circle-down:before {
  content: "\e09a";
}
.sf-arrow-circle-left:before {
  content: "\e09b";
}
.sf-arrow-circle-o-down:before {
  content: "\e09c";
}
.sf-area-chart:before {
  content: "\e09d";
}
.sf-arrow-circle-o-left:before {
  content: "\e09e";
}
.sf-arrow-circle-o-right:before {
  content: "\e09f";
}
.sf-arrow-circle-o-up:before {
  content: "\e0a0";
}
.sf-arrow-circle-right:before {
  content: "\e0a1";
}
.sf-arrow-circle-up:before {
  content: "\e0a2";
}
.sf-arrow-down:before {
  content: "\e0a3";
}
.sf-arrow-left:before {
  content: "\e0a4";
}
.sf-arrow-right:before {
  content: "\e0a5";
}
.sf-arrow-up:before {
  content: "\e0a6";
}
.sf-battery-empty:before {
  content: "\e0a7";
}
.sf-battery-full:before {
  content: "\e0a8";
}
.sf-battery-half:before {
  content: "\e0a9";
}
.sf-battery-quarter:before {
  content: "\e0aa";
}
.sf-battery-three-quarters:before {
  content: "\e0ab";
}
.sf-barcode:before {
  content: "\e0ac";
}
.sf-at-1:before {
  content: "\e0ad";
}
.sf-bed:before {
  content: "\e0ae";
}
.sf-binoculars:before {
  content: "\e0af";
}
.sf-bold-1:before {
  content: "\e0b0";
}
.sf-book:before {
  content: "\e0b1";
}
.sf-bus:before {
  content: "\e0b2";
}
.sf-calculator:before {
  content: "\e0b3";
}
.sf-calendar:before {
  content: "\e0b4";
}
.sf-calendar-check-o:before {
  content: "\e0b5";
}
.sf-calendar-minus-o:before {
  content: "\e0b6";
}
.sf-camera:before {
  content: "\e0b7";
}
.sf-camera-retro:before {
  content: "\e0b8";
}
.sf-car:before {
  content: "\e0b9";
}
.sf-cart-plus:before {
  content: "\e0ba";
}
.sf-cc-mastercard:before {
  content: "\e0bb";
}
.sf-check-circle:before {
  content: "\e0bc";
}
.sf-check-circle-o:before {
  content: "\e0bd";
}
.sf-check-square:before {
  content: "\e0be";
}
.sf-check-square-o:before {
  content: "\e0bf";
}
.sf-chevron-down:before {
  content: "\e0c0";
}
.sf-chevron-left:before {
  content: "\e0c1";
}
.sf-chevron-right:before {
  content: "\e0c2";
}
.sf-chevron-up:before {
  content: "\e0c3";
}
.sf-child:before {
  content: "\e0c4";
}
.sf-chrome:before {
  content: "\e0c5";
}
.sf-circle-o-notch:before {
  content: "\e0c6";
}
.sf-code:before {
  content: "\e0c7";
}
.sf-code-fork:before {
  content: "\e0c8";
}
.sf-coffee:before {
  content: "\e0c9";
}
.sf-compress:before {
  content: "\e0ca";
}
.sf-copyright:before {
  content: "\e0cb";
}
.sf-css3:before {
  content: "\e0cc";
}
.sf-diamond:before {
  content: "\e0cd";
}
.sf-eject:before {
  content: "\e0ce";
}
.sf-exchange:before {
  content: "\e0cf";
}
.sf-eur:before {
  content: "\e0d0";
}
.sf-exclamation:before {
  content: "\e0d1";
}
.sf-exclamation-circle:before {
  content: "\e0d2";
}
.sf-exclamation-triangle:before {
  content: "\e0d3";
}
.sf-expand:before {
  content: "\e0d4";
}
.sf-expeditedssl:before {
  content: "\e0d5";
}
.sf-external-link:before {
  content: "\e0d6";
}
.sf-eyedropper:before {
  content: "\e0d7";
}
.sf-fast-backward:before {
  content: "\e0d8";
}
.sf-fast-forward:before {
  content: "\e0d9";
}
.sf-fax:before {
  content: "\e0da";
}
.sf-firefox:before {
  content: "\e0db";
}
.sf-flask:before {
  content: "\e0dc";
}
.sf-folder-o:before {
  content: "\e0dd";
}
.sf-folder-2:before {
  content: "\e0de";
}
.sf-folder-open:before {
  content: "\e0df";
}
.sf-folder-open-o:before {
  content: "\e0e0";
}
.sf-font-1:before {
  content: "\e0e1";
}
.sf-frown-o:before {
  content: "\e0e2";
}
.sf-gift:before {
  content: "\e0e3";
}
.sf-gratipay:before {
  content: "\e0e4";
}
.sf-google-plus:before {
  content: "\e0e5";
}
.sf-google:before {
  content: "\e0e6";
}
.sf-git-square:before {
  content: "\e0e7";
}
.sf-git:before {
  content: "\e0e8";
}
.sf-hand-peace-o:before {
  content: "\e0e9";
}
.sf-header:before {
  content: "\e0ea";
}
.sf-headphones:before {
  content: "\e0eb";
}
.sf-heartbeat:before {
  content: "\e0ec";
}
.sf-hourglass-start:before {
  content: "\e0ed";
}
.sf-html5:before {
  content: "\e0ee";
}
.sf-indent-1:before {
  content: "\e0ef";
}
.sf-inbox:before {
  content: "\e0f0";
}
.sf-internet-explorer:before {
  content: "\e0f1";
}
.sf-italic:before {
  content: "\e0f2";
}
.sf-linux:before {
  content: "\e0f3";
}
.sf-lightbulb-o:before {
  content: "\e0f4";
}
.sf-life-ring:before {
  content: "\e0f5";
}
.sf-level-down:before {
  content: "\e0f6";
}
.sf-level-up:before {
  content: "\e0f7";
}
.sf-list-ol:before {
  content: "\e0f8";
}
.sf-list-ul:before {
  content: "\e0f9";
}
.sf-location-arrow:before {
  content: "\e0fa";
}
.sf-magic:before {
  content: "\e0fb";
}
.sf-map-marker:before {
  content: "\e0fc";
}
.sf-map:before {
  content: "\e0fd";
}
.sf-meh-o:before {
  content: "\e0fe";
}
.sf-map-pin:before {
  content: "\e0ff";
}
.sf-mars:before {
  content: "\e100";
}
.sf-microphone:before {
  content: "\e101";
}
.sf-microphone-slash:before {
  content: "\e102";
}
.sf-mobile:before {
  content: "\e103";
}
.sf-money:before {
  content: "\e104";
}
.sf-moon-o:before {
  content: "\e105";
}
.sf-motorcycle:before {
  content: "\e106";
}
.sf-mouse-pointer:before {
  content: "\e107";
}
.sf-music:before {
  content: "\e108";
}
.sf-paint-brush:before {
  content: "\e109";
}
.sf-picture-o:before {
  content: "\e10a";
}
.sf-phone-square:before {
  content: "\e10b";
}
.sf-phone:before {
  content: "\e10c";
}
.sf-paper-plane:before {
  content: "\e10d";
}
.sf-paper-plane-o:before {
  content: "\e10e";
}
.sf-pie-chart:before {
  content: "\e10f";
}
.sf-play:before {
  content: "\e110";
}
.sf-play-circle-o:before {
  content: "\e111";
}
.sf-plug:before {
  content: "\e112";
}
.sf-plus-square:before {
  content: "\e113";
}
.sf-plus-square-o:before {
  content: "\e114";
}
.sf-power-off-1:before {
  content: "\e115";
}
.sf-registered:before {
  content: "\e116";
}
.sf-rocket:before {
  content: "\e118";
}
.sf-rss-square:before {
  content: "\e119";
}
.sf-scissors:before {
  content: "\e11a";
}
.sf-safari:before {
  content: "\e11b";
}
.sf-search-plus:before {
  content: "\e11c";
}
.sf-search-minus:before {
  content: "\e11d";
}
.sf-sellsy:before {
  content: "\e11e";
}
.sf-server:before {
  content: "\e11f";
}
.sf-share-alt:before {
  content: "\e120";
}
.sf-share-alt-square:before {
  content: "\e121";
}
.sf-share-square:before {
  content: "\e122";
}
.sf-share-square-o:before {
  content: "\e123";
}
.sf-shield:before {
  content: "\e124";
}
.sf-shopping-cart:before {
  content: "\e125";
}
.sf-sign-in:before {
  content: "\e126";
}
.sf-signal:before {
  content: "\e127";
}
.sf-sitemap:before {
  content: "\e128";
}
.sf-slack:before {
  content: "\e129";
}
.sf-sliders:before {
  content: "\e12a";
}
.sf-sort:before {
  content: "\e12b";
}
.sf-smile-o:before {
  content: "\e12c";
}
.sf-sort-asc:before {
  content: "\e12d";
}
.sf-sort-desc:before {
  content: "\e12e";
}
.sf-soundcloud:before {
  content: "\e12f";
}
.sf-space-shuttle:before {
  content: "\e130";
}
.sf-stack-overflow:before {
  content: "\e131";
}
.sf-sun-o:before {
  content: "\e132";
}
.sf-superscript-1:before {
  content: "\e133";
}
.sf-table:before {
  content: "\e134";
}
.sf-tablet:before {
  content: "\e135";
}
.sf-taxi:before {
  content: "\e136";
}
.sf-television:before {
  content: "\e137";
}
.sf-terminal:before {
  content: "\e138";
}
.sf-text-height-1:before {
  content: "\e139";
}
.sf-text-width:before {
  content: "\e13a";
}
.sf-th:before {
  content: "\e13b";
}
.sf-th-large:before {
  content: "\e13c";
}
.sf-th-list:before {
  content: "\e13d";
}
.sf-trademark:before {
  content: "\e13e";
}
.sf-tree:before {
  content: "\e13f";
}
.sf-underline:before {
  content: "\e141";
}
.sf-umbrella:before {
  content: "\e142";
}
.sf-tty:before {
  content: "\e143";
}
.sf-trophy-1:before {
  content: "\e144";
}
.sf-upload:before {
  content: "\e145";
}
.sf-usd:before {
  content: "\e146";
}
.sf-venus:before {
  content: "\e147";
}
.sf-wheelchair:before {
  content: "\e148";
}
.sf-weixin:before {
  content: "\e149";
}
.sf-video-camera:before {
  content: "\e14a";
}
.sf-wifi:before {
  content: "\e14b";
}
.sf-wordpress:before {
  content: "\e14c";
}
.sf-youtube:before {
  content: "\e14d";
}
.sf-pin:before {
  content: "\e14e";
}
.sf-anchor:before {
  content: "\e14f";
}
.sf-alarm:before {
  content: "\e150";
}
.sf-instagram-1:before {
  content: "\e151";
}
.sf-heart-1:before {
  content: "\e152";
}
.sf-task:before {
  content: "\e153";
}
.sf-broadcast:before {
  content: "\e154";
}
.sf-bug-1:before {
  content: "\e155";
}
.sf-star-2:before {
  content: "\e156";
}
.sf-mark-github:before {
  content: "\e157";
}
.sf-flag-1:before {
  content: "\e158";
}
.sf-bug-2:before {
  content: "\e159";
}
.sf-android-1:before {
  content: "\e15a";
}
.sf-bluetooth:before {
  content: "\e15b";
}
.sf-heart-2:before {
  content: "\e15c";
}
.sf-hashtag:before {
  content: "\e15d";
}
.sf-windows-1:before {
  content: "\e15e";
}
.sf-barcode-1:before {
  content: "\e15f";
}
.sf-glass-1:before {
  content: "\e160";
}
.sf-tags-1:before {
  content: "\e161";
}
.sf-tag-1:before {
  content: "\e162";
}
.sf-skype:before {
  content: "\e163";
}
.sf-yang-ying:before {
  content: "\e164";
}
.sf-address-book:before {
  content: "\e165";
}
.sf-alert:before {
  content: "\e166";
}
.sf-adjust:before {
  content: "\e167";
}
.sf-code-1:before {
  content: "\e168";
}
.sf-basket:before {
  content: "\e169";
}
.sf-attach:before {
  content: "\e16a";
}
.sf-globe-1:before {
  content: "\e16b";
}
.sf-lamp:before {
  content: "\e16c";
}
.sf-left-quote:before {
  content: "\e16d";
}
.sf-headphones-1:before {
  content: "\e16e";
}
.sf-moon-stroke:before {
  content: "\e16f";
}
.sf-moon-fill:before {
  content: "\e170";
}
.sf-mic:before {
  content: "\e171";
}
.sf-home-1:before {
  content: "\e172";
}
.sf-chat-alt-fill:before {
  content: "\e173";
}
.sf-bolt-1:before {
  content: "\e174";
}
.sf-right-quote:before {
  content: "\e175";
}
.sf-right-quote-alt:before {
  content: "\e176";
}
.sf-pin-1:before {
  content: "\e177";
}
.sf-atom:before {
  content: "\e178";
}
.sf-celcius:before {
  content: "\e179";
}
.sf-thermometer:before {
  content: "\e17a";
}
.sf-sun-black:before {
  content: "\e17b";
}
.sf-sun:before {
  content: "\e17c";
}
.sf-card:before {
  content: "\e17e";
}
.sf-edit:before {
  content: "\e17f";
}
.sf-pencil-1:before {
  content: "\e180";
}
.sf-plane:before {
  content: "\e181";
}
.sf-bag:before {
  content: "\e182";
}
.sf-new-sign:before {
  content: "\e183";
}
.sf-sell-sign:before {
  content: "\e184";
}
.sf-load-a:before {
  content: "\e185";
}
.sf-load-d:before {
  content: "\e186";
}
.sf-load-b:before {
  content: "\e187";
}
.sf-spin-alt:before {
  content: "\e188";
}
.sf-pull-request:before {
  content: "\e189";
}
.sf-network-1:before {
  content: "\e18a";
}
.sf-merge:before {
  content: "\e18b";
}
.sf-fork-repo:before {
  content: "\e18c";
}
.sf-publish:before {
  content: "\e18d";
}
.sf-facebook-square:before {
  content: "\e18e";
}
.sf-facebook-official:before {
  content: "\e18f";
}
.sf-pinterest-square:before {
  content: "\e17d";
}
.sf-pinterest-p:before {
  content: "\e190";
}
.sf-skype-1:before {
  content: "\e191";
}
.sf-model-s:before {
  content: "\e192";
}
.sf-vcard:before {
  content: "\e193";
}
.sf-clock-o:before {
  content: "\e194";
}
.sf-calendar-o:before {
  content: "\e195";
}
.sf-arrow-vertical:before {
  content: "\e196";
}
.sf-arrow-horizontal:before {
  content: "\e197";
}
.sf-repeat:before {
  content: "\e117";
}
.sf-undo:before {
  content: "\e140";
}
.sf-calendar-1:before {
  content: "\e198";
}
.sf-date:before {
  content: "\e199";
}
.sf-university:before {
  content: "\e19a";
}
.sf-banknote:before {
  content: "\e19b";
}
.sf-receipt-shopping-streamline:before {
  content: "\e19c";
}
.sf-invoice:before {
  content: "\e19d";
}
.sf-settings:before {
  content: "\e19e";
}
.sf-android-options:before {
  content: "\e19f";
}
.sf-ios-toggle:before {
  content: "\e1a0";
}
.sf-toggle-filled:before {
  content: "\e1a1";
}
.sf-toggle:before {
  content: "\e1a2";
}
.sf-email-envelope:before {
  content: "\e1a3";
}
.sf-apple:before {
  content: "\e1a4";
}
.sf-amazon:before {
  content: "\e1a5";
}
.sf-ambulance:before {
  content: "\e1a6";
}
.sf-birthday-cake:before {
  content: "\e1a7";
}
.sf-calendar-plus-o:before {
  content: "\e1a8";
}
.sf-calendar-times-o:before {
  content: "\e1a9";
}
.sf-cart-arrow-down:before {
  content: "\e1aa";
}
.sf-dropbox:before {
  content: "\e1ab";
}
.sf-eye:before {
  content: "\e1ac";
}
.sf-eye-slash:before {
  content: "\e1ad";
}
.sf-download:before {
  content: "\e1ae";
}
.sf-eraser:before {
  content: "\e1af";
}
.sf-fire:before {
  content: "\e1b0";
}
.sf-futbol-o:before {
  content: "\e1b1";
}
.sf-hand-pointer-o:before {
  content: "\e1b2";
}
.sf-hand-paper-o:before {
  content: "\e1b3";
}
.sf-hdd-o:before {
  content: "\e1b4";
}
.sf-list-1:before {
  content: "\e1b5";
}
.sf-medkit:before {
  content: "\e1b6";
}
.sf-paperclip:before {
  content: "\e1b7";
}
.sf-stethoscope:before {
  content: "\e1b8";
}
.sf-suitcase:before {
  content: "\e1b9";
}
.sf-sticky-note:before {
  content: "\e1ba";
}
.sf-sticky-note-o:before {
  content: "\e1bb";
}
.sf-street-view:before {
  content: "\e1bc";
}
.sf-subway:before {
  content: "\e1bd";
}
.sf-truck:before {
  content: "\e1be";
}
.sf-owl-lite:before {
  content: "\e1bf";
}
.sf-mail:before {
  content: "\e1c0";
}
.sf-mail-accept:before {
  content: "\e1c1";
}
.sf-mail-add:before {
  content: "\e1c2";
}
.sf-mail-cancel:before {
  content: "\e1c3";
}
.sf-mail-edit:before {
  content: "\e1c4";
}
.sf-mail-fwd:before {
  content: "\e1c5";
}
.sf-mail-remove:before {
  content: "\e1c6";
}
.sf-mail-run:before {
  content: "\e1c7";
}
.sf-mail-security:before {
  content: "\e1c8";
}
.sf-mailbox:before {
  content: "\e1c9";
}
.sf-mailbox-down:before {
  content: "\e1ca";
}
.sf-mailbox-eject:before {
  content: "\e1cb";
}
.sf-mailbox-settings:before {
  content: "\e1cc";
}
.sf-recent-changes:before {
  content: "\e1cd";
}
.sf-eye-galsses:before {
  content: "\e1ce";
}
.sf-content-34:before {
  content: "\e1cf";
}
.sf-content-7:before {
  content: "\e1d0";
}
.sf-cloud-upload-2:before {
  content: "\e1d1";
}
.sf-cloud-download-2:before {
  content: "\e1d2";
}
.sf-cloud-1:before {
  content: "\e1d3";
}
.sf-cloud-sun:before {
  content: "\e1d4";
}
.sf-clouds-cloudy:before {
  content: "\e1d5";
}
.sf-gift-1:before {
  content: "\e1d6";
}
.sf-skype-2:before {
  content: "\e1d7";
}
.sf-tag-stroke:before {
  content: "\e1d8";
}
.sf-tag-fill:before {
  content: "\e1d9";
}
.sf-movie:before {
  content: "\e1da";
}
.sf-paperclip-1:before {
  content: "\e1db";
}
.sf-aim:before {
  content: "\e1dc";
}
.sf-group-full:before {
  content: "\e1dd";
}
.sf-group-full-add:before {
  content: "\e1de";
}
.sf-group-full-edit:before {
  content: "\e1df";
}
.sf-group-full-remove:before {
  content: "\e1e0";
}
.sf-group-full-security:before {
  content: "\e1e1";
}
.sf-group-half:before {
  content: "\e1e2";
}
.sf-images:before {
  content: "\e1e3";
}
.sf-art-gallery:before {
  content: "\e1e4";
}
.sf-prohibited:before {
  content: "\e1e5";
}
.sf-denied-block:before {
  content: "\e1e6";
}
.sf-keyboard-o:before {
  content: "\e1e7";
}
.sf-hand-o-up:before {
  content: "\e1e8";
}
.sf-hand-o-right:before {
  content: "\e1e9";
}
.sf-hand-o-left:before {
  content: "\e1ea";
}
.sf-hand-o-down:before {
  content: "\e1eb";
}
.sf-key:before {
  content: "\e1ec";
}
.sf-leaf:before {
  content: "\e1ed";
}
.sf-lemon-o:before {
  content: "\e1ee";
}
.sf-odnoklassniki:before {
  content: "\e1ef";
}
.sf-pagelines:before {
  content: "\e1f0";
}
.sf-paw:before {
  content: "\e1f1";
}
.sf-paypal:before {
  content: "\e1f2";
}
.sf-play-circle:before {
  content: "\e1f3";
}
.sf-random:before {
  content: "\e1f4";
}
.sf-qrcode:before {
  content: "\e1f5";
}
.sf-puzzle-piece:before {
  content: "\e1f6";
}
.sf-anchor-1:before {
  content: "\e1f7";
}
.sf-fonticons:before {
  content: "\e1f8";
}
.sf-ios-football:before {
  content: "\e1f9";
}
.sf-burst-sale:before {
  content: "\e1fa";
}
.sf-buy-sign:before {
  content: "\e1fb";
}
.sf-cart-shopping-1:before {
  content: "\e1fc";
}
.sf-credit-card-1:before {
  content: "\e1fd";
}
.sf-cardiac-pulse:before {
  content: "\e1fe";
}
.sf-caddie-shopping-streamline:before {
  content: "\e1ff";
}
.sf-caddie-shop-shopping-streamline:before {
  content: "\e200";
}
.sf-shopping-cart-1:before {
  content: "\e201";
}
.sf-bag-1:before {
  content: "\e202";
}
.sf-share-1:before {
  content: "\e203";
}
.sf-share-2:before {
  content: "\e204";
}
.sf-share-3:before {
  content: "\e205";
}
.sf-ios-people:before {
  content: "\e206";
}
.sf-person:before {
  content: "\e207";
}
.sf-person-add:before {
  content: "\e208";
}
.sf-person-stalker:before {
  content: "\e209";
}
.sf-user-close-settings:before {
  content: "\e20a";
}
.sf-user-close-security:before {
  content: "\e20b";
}
.sf-user-close:before {
  content: "\e20c";
}
.sf-user-close-add:before {
  content: "\e20d";
}
.sf-user-close-edit:before {
  content: "\e20e";
}
.sf-user-close-information:before {
  content: "\e20f";
}
.sf-user-close-remove:before {
  content: "\e210";
}
.sf-ping:before {
  content: "\e211";
}
.sf-garden:before {
  content: "\e212";
}
.sf-log-in:before {
  content: "\e213";
}
.sf-log-out:before {
  content: "\e214";
}
.sf-ios-paw:before {
  content: "\e215";
}
.sf-foot:before {
  content: "\e216";
}
.sf-tag-2:before {
  content: "\e217";
}
.sf-burst:before {
  content: "\e218";
}
.sf-box:before {
  content: "\e219";
}
.sf-package:before {
  content: "\e21a";
}
.sf-carton-milk:before {
  content: "\e21b";
}
.sf-pin-2:before {
  content: "\e21c";
}
.sf-pin-filled:before {
  content: "\e21d";
}
.sf-favorite-map-pin:before {
  content: "\e21e";
}
.sf-ios-monitor:before {
  content: "\e21f";
}
.sf-ios-monitor-outline:before {
  content: "\e220";
}
.sf-monitor-screen-1:before {
  content: "\e221";
}
.sf-social-windows:before {
  content: "\e222";
}
.sf-social-apple:before {
  content: "\e223";
}
.sf-prize-award:before {
  content: "\e224";
}
.sf-award-stroke:before {
  content: "\e225";
}
.sf-award-fill:before {
  content: "\e226";
}
.sf-caret-square-up:before {
  content: "\e227";
}
.sf-checkbox:before {
  content: "\e228";
}
.sf-chart-graph-file-1:before {
  content: "\e229";
}
.sf-bar-chart-1:before {
  content: "\e22a";
}
.sf-bullseye:before {
  content: "\e22b";
}
.sf-codepen:before {
  content: "\e22c";
}
.sf-connectdevelop:before {
  content: "\e22d";
}
.sf-columns:before {
  content: "\e22e";
}
.sf-cube:before {
  content: "\e22f";
}
.sf-cubes:before {
  content: "\e230";
}
.sf-fire-extinguisher:before {
  content: "\e231";
}
.sf-pause:before {
  content: "\e232";
}
.sf-share-4:before {
  content: "\e233";
}
.sf-reply:before {
  content: "\e234";
}
.sf-reply-all:before {
  content: "\e235";
}
.sf-ticket:before {
  content: "\e236";
}
.sf-clock:before {
  content: "\e237";
}
.sf-screen:before {
  content: "\e238";
}
.sf-settings-1:before {
  content: "\e239";
}
.sf-in:before {
  content: "\e23a";
}
.sf-in-alt:before {
  content: "\e23b";
}
.sf-trash-alt:before {
  content: "\e23c";
}
.sf-cloud-2:before {
  content: "\e23d";
}
.sf-grid-1:before {
  content: "\e23e";
}
.sf-googleplus:before {
  content: "\e23f";
}
.sf-grid-alt:before {
  content: "\e240";
}
.sf-hyperlink:before {
  content: "\e241";
}
.sf-windows-2:before {
  content: "\e242";
}
.sf-internet:before {
  content: "\e243";
}
.sf-server-accept:before {
  content: "\e244";
}
.sf-tab:before {
  content: "\e245";
}
.sf-xml:before {
  content: "\e246";
}
.sf-user-profile:before {
  content: "\e247";
}
.sf-laptop-1:before {
  content: "\e248";
}
.sf-campfire:before {
  content: "\e249";
}
.sf-camera-surveillance-1:before {
  content: "\e24a";
}
.sf-camera-video-3:before {
  content: "\e24b";
}
.sf-cup-2:before {
  content: "\e24c";
}
.sf-crhistmas-spruce-tree:before {
  content: "\e24d";
}
.sf-hand-stop:before {
  content: "\e24e";
}
.sf-hand-hold:before {
  content: "\e24f";
}
.sf-hat-magician:before {
  content: "\e250";
}
.sf-hospital:before {
  content: "\e251";
}
.sf-magnet:before {
  content: "\e252";
}
.sf-tree-1:before {
  content: "\e253";
}
.sf-television-tv:before {
  content: "\e254";
}
.sf-wallet-money:before {
  content: "\e255";
}
.sf-rocket-1:before {
  content: "\e256";
}
.sf-radar-2:before {
  content: "\e257";
}
.sf-plus-zoom:before {
  content: "\e258";
}
.sf-minus-zoom:before {
  content: "\e259";
}
.sf-phone-1:before {
  content: "\e25a";
}
.sf-back-in-time:before {
  content: "\e25b";
}
.sf-flashlight:before {
  content: "\e25c";
}
.sf-hourglass-1:before {
  content: "\e25d";
}
.sf-graduation-cap-1:before {
  content: "\e25e";
}
.sf-mic-1:before {
  content: "\e25f";
}
.sf-picture:before {
  content: "\e260";
}
.sf-quote:before {
  content: "\e261";
}
.sf-shuffle:before {
  content: "\e262";
}
.sf-fork:before {
  content: "\e263";
}
.sf-article:before {
  content: "\e264";
}
.sf-list-2:before {
  content: "\e265";
}
.sf-trash-can:before {
  content: "\e266";
}
.sf-star-3:before {
  content: "\e267";
}
.sf-star-empty:before {
  content: "\e268";
}
.sf-star-half-1:before {
  content: "\e269";
}
.sf-barbell:before {
  content: "\e26a";
}
.sf-character:before {
  content: "\e26b";
}
.sf-heart-3:before {
  content: "\e26c";
}
.sf-shop:before {
  content: "\e26d";
}
.sf-truck-1:before {
  content: "\e26e";
}
.sf-study:before {
  content: "\e26f";
}
.sf-n-a:before {
  content: "\e270";
}
.sf-cloud-1-1:before {
  content: "\e271";
}
.sf-cloud-2-1:before {
  content: "\e272";
}
.sf-cloud-moon:before {
  content: "\e273";
}
.sf-cloud-sun-1:before {
  content: "\e274";
}
.sf-fog-sunrise:before {
  content: "\e276";
}
.sf-hail:before {
  content: "\e277";
}
.sf-lightning-1:before {
  content: "\e278";
}
.sf-rain-1:before {
  content: "\e279";
}
.sf-rain-2:before {
  content: "\e27a";
}
.sf-snow-1:before {
  content: "\e27b";
}
.sf-snow-2:before {
  content: "\e27c";
}
.sf-snow-4:before {
  content: "\e27d";
}
.sf-wind-rain:before {
  content: "\e27e";
}
.sf-wind-cloud:before {
  content: "\e27f";
}
.sf-sunrise:before {
  content: "\e280";
}
.sf-sun-half:before {
  content: "\e281";
}
.sf-fog-moon:before {
  content: "\e275";
}
.sf-fog-sun:before {
  content: "\e282";
}
.sf-compass:before {
  content: "\e283";
}
.sf-browser:before {
  content: "\e284";
}
.sf-calendar-2:before {
  content: "\e285";
}
.sf-zoo:before {
  content: "\e286";
}
.sf-swimming:before {
  content: "\e287";
}
.sf-toilets:before {
  content: "\e288";
}
.sf-hierarchy:before {
  content: "\e289";
}
.sf-paypal-1:before {
  content: "\e28a";
}
