{%extends display.main%}

{%block page%}


<form method="get" class="mT50" action="{{url.this}}" data-direct data-action>

    <label for="text">{% trans "Text"%}</label>
    <div class="input">
      <input type="text" id="text" name="text" placeholder='{% trans "Your text"%}' value="{{requestGET.text}}">
    </div>

    <button class="btn primary block mT10">{%trans "Calc"%}</button>
    <div class="">

      {%if requestGET.text%}

        <div class="msg block mA5 pain block">{{requestGET.text}}</div>
        <div class="msg block mA5 pain block">{{abjadVal | fitNumber}}</div>
      {%endif%}
    </div>


</form>


{%endblock%}
