{%extends display.dash%}



{%block sidenav%}
  <li><a href="{{url.here}}"><i class='sf-group-full'></i> <span>{% trans "Manage" %}</span></a></li>

{%endblock%}


{%block idesc%}
<label for="desc">{%trans "Description"%}</label>
<textarea class="txt mB10" id='desc' name="desc"  maxlength='500' rows="5">{{dataRow.desc}}</textarea>
{%endblock%}


{%block idate %}
<label for="date">{%trans "Date"%}</label>
<div class="input">
  <input class="datepicker" type="text" name="date" id="date" placeholder='{{"now" | dt}}' value="{{dataRow.date}}" maxlength='15' data-format="YYYY/MM/DD" data-view="day">
</div>
{% endblock %}


{%block itime %}
<label for="time">{%trans "Time"%}</label>
<div class="input clockpicker ltr">
  <input type="text" name="time" id="time" value='{{dataRow.time}}' autocomplete="off">
</div>
{% endblock %}

{%block ititle%}
<label for='title'>{%trans "title"%}</label>
<select name="title" class="select ui dropdown search addition" id="title">
  <option value="">{%trans "Add or select"%}</option>
  {%for key, value in listtitles%}
    {%if value.title%}
    <option value="{{value.title}}"{%if value.title == dataRow.title %} selected{%endif%}>{{value.title}}</option>
    {%endif%}
  {%endfor%}
</select>
{%endblock%}

{%block isubtitle%}
<label for='subtitle'>{%trans "subtitle"%}</label>
<select name="subtitle" class="select ui dropdown search addition" id="subtitle">
  <option value="">{%trans "Add or select"%}</option>
  {%for key, value in listsubtitles%}
    {%if value.subtitle%}
    <option value="{{value.subtitle}}"{%if value.subtitle == dataRow.subtitle %} selected{%endif%}>{{value.subtitle}}</option>
    {%endif%}
  {%endfor%}
</select>
{%endblock%}


{%block icat%}
<label for='cat'>{%trans "cat"%}</label>
<select name="cat" class="select ui dropdown search addition" id="cat">
  <option value="">{%trans "Add or select"%}</option>
  {%for key, value in listcats%}
    {%if value.cat%}
    <option value="{{value.cat}}"{%if value.cat == dataRow.cat %} selected{%endif%}>{{value.cat}}</option>
    {%endif%}
  {%endfor%}
</select>
{%endblock%}

{%block icat2%}
<label for='cat2'>{%trans "cat2"%}</label>
<select name="cat2" class="select ui dropdown search addition" id="cat2">
  <option value="">{%trans "Add or select"%}</option>
  {%for key, value in listcat2s%}
    {%if value.cat2%}
    <option value="{{value.cat2}}"{%if value.cat2 == dataRow.cat2 %} selected{%endif%}>{{value.cat2}}</option>
    {%endif%}
  {%endfor%}
</select>
{%endblock%}

{%block isize%}
<label for='size'>{%trans "size"%}</label>
<select name="size" class="select ui dropdown search addition" id="size">
  <option value="">{%trans "Add or select"%}</option>
  {%for key, value in listsizes%}
    {%if value.size%}
    <option value="{{value.size}}"{%if value.size == dataRow.size %} selected{%endif%}>{{value.size}}</option>
    {%endif%}
  {%endfor%}
</select>
{%endblock%}


{% block iavatar %}
<div class="input preview">
 <input type="file" accept="image/gif, image/jpeg, image/png" name="avatar" id="avatar1" data-preview data-max="500">
 <label for="avatar1" title='{%trans "Avatar"%}'>
    {%if dataRow.avatar%}<img src="{{dataRow.avatar}}">{%endif%}
 </label>
</div>
{%endblock%}


{%block iadd%}
<button class="btn primary block mT20">{%trans "Add"%}</button>
{%endblock%}

{%block isave%}
<button class="btn primary block mT20">{%trans "Save"%}</button>
{%endblock%}


