{%extends display.dash%}



{%block sidenav%}
  <li><a href="{{url.here}}"><i class='sf-group-full'></i> <span>{% trans "Manage" %}</span></a></li>

{%endblock%}

{% block iqari%}
<label for="qari">{%trans "Qari"%}</label>
<select name="qari" class="mB10 select ui dropdown search" id="qari">
  <option value="" readonly>{%trans "Please select one item"%}</option>
  {%for key, value in qariList%}
    <option value="{{value.key}}" {%if value.key == dataRow.qari %} selected {%endif%}>{{value.value}}</option>
  {%endfor%}
</select>
{% endblock %}


{% block iavatar %}
<div class="input preview">
 <input type="file" accept="image/gif, image/jpeg, image/png" name="avatar" id="avatar1" data-preview data-max="500">
 <label for="avatar1" title='{%trans "Avatar"%}'>
    {%if dataRow.avatar%}<img src="{{dataRow.avatar}}">{%endif%}
 </label>
</div>
{%endblock%}


{% block ireadtype%}

<label for="readtype">{%trans "Read Type"%}</label>
<select name="readtype" class="mB10 select ui dropdown search" id="readtype">
  <option value="" readonly>{%trans "Please select one item"%}</option>
  {%for key, value in readtypeList%}
    <option value="{{value.key}}" {%if value.key == dataRow.readtype %} selected {%endif%}>{{value.value}}</option>
  {%endfor%}
</select>
{% endblock %}

{% block ifiletype%}
<label for="filetype">{%trans "filetype"%}</label>
<div class="input">
  <input type="text" name="filetype" id="filetype" value="{{dataRow.filetype}}" maxlength='200'>
</div>
{% endblock %}




{% block itype %}

<label for="type">{%trans "Type"%}</label>
<select name="type" class="mB10 select ui dropdown search" id="type">
  <option value="" readonly>{%trans "Please select one item"%}</option>
  {%for key, value in typeList%}
    <option value="{{value.key}}" {%if value.key == dataRow.type %} selected {%endif%}>{{value.value}}</option>
  {%endfor%}
</select>

{% endblock %}


{% block icountry%}
<div class="mB10">
  <label for='country'>{%trans "Country"%}</label>
  <div class="ui fluid search selection dropdown">
    <input type="hidden" name="country" value="{{dataRow.country}}">
    <i class="dropdown icon"></i>
    <div class="default text">{%trans "Choose country"%}</div>
    <div class="menu">
{%for key, value in countryList%}
      <div class="item" data-value="{{key}}">
        <i class="{{value.iso2 | lower }} flag"></i>{%set myCountry = value.name%} {%trans myCountry%}<small class="description">{{value.name | capitalize}}</small>
      </div>
{%endfor%}
    </div>
  </div>
</div>
{% endblock %}



{% block iaddr%}
<label for="addr">{%trans "addr"%}</label>
<div class="input">
  <input type="text" name="addr" id="addr" value="{{dataRow.addr}}" maxlength='1000'>
</div>
{% endblock %}



{% block iquality%}
<label for="quality">{%trans "quality"%}</label>
<div class="input">
  <input type="number" name="quality" id="quality" value="{{dataRow.quality}}" maxlength='200'>
</div>
{% endblock %}


{%block iadd%}
<button class="btn primary block mT20">{%trans "Add"%}</button>
{%endblock%}

{%block isave%}
<button class="btn primary block mT20">{%trans "Save"%}</button>
{%endblock%}


