{%extends display.main%}

{%block page%}
<form method="get" action="{{url.this}}" data-direct data-action class="mT50">

    <label for="nationalcode">{% trans "National code"%}</label>
    <div class="input">
      <input type="number" id="nationalcode" name="nationalcode" placeholder='{% trans "National code"%}' value="{{requestGET.nationalcode}}">
    </div>

    <button class="btn primary block mT10">{%trans "Check"%}</button>
    <div class="">

      {%if requestGET.nationalcode%}
        {%if checkNationalCode %}
        <div class="msg block mA5 success">{%trans "This is a valid national code" %}</div>
        {%else%}
        <div class="msg block mA5 danger">{%trans "This is not a valid national code" %}</div>
        {%endif%}
      {%endif%}
    </div>
    <h6 class="mT100 s0 c0">{%trans "To generate new national code click here" %}</h6>
    <button class="btn success block mT10" name="new" value="1">{%trans "GENERATE NEW" %} ;)</button>
    <div class="result">
      {%if requestGET.new%}
        <div class="msg block success fs16 mT10">{{newNationalcode}}</div>
        <small class="badge primary"><a href="{{url.this}}?nationalcode={{newNationalcode}}" data-direct>{%trans "Check"%}</a></small>
      {%endif%}

    </div>

</form>


{%endblock%}
