{%extends display.main%}


{%block pageData%}


{%if datarow.type == 'post' or datarow.type == 'page'%}
  {{block('posts')}}
{%else%}
  {{block('terms')}}
{%endif%}

{%endblock%}



{%block posts%}
  <div class="postPreview">
    <div class="postMainContent">

{%if datarow.type == 'post'%}
{%if datarow.meta.thumb%}
     <img src="{{datarow.meta.thumb}}" alt="{{datarow.title | raw}}" class="floatRa thumb">
{%endif%}
{%if datarow.subtitle%}
    <div class="txtB mB10">{{datarow.subtitle}}</div>
{%endif%}
    <p class="msg">{{datarow.excerpt}}</p>
{%endif%}

    {{datarow.content | raw}}
    </div>
    {{block('imagegallery')}}
    <hr>
    <div class="tagBox msg simple">{{tags({"format" : 'html'})}}</div>

{%if datarow.type == 'post' and datarow.datemodified%}
    <div class='msg simple f mT20'>
      <div class="c"><time datetime="{{datarow.datemodified}}">{{datarow.publishdate | tdate('d F Y - H:i')}}</time></div>
      <div class="cauto os"><a href="{{url.base}}/n/{{datarow.id}}" title='{%trans "For share via social networks"%}'>{%trans "News Code"%} <span class="txtB">{{datarow.id}}</span></a></div>
    </div>
{%endif%}

{{block('setPostComment')}}
  </div>
{%endblock%}



{%block terms%}
    {{block('datatablePosts')}}
{%endblock%}



{%block imagegallery%}
  {%if datarow.meta.gallery%}
    <div id="lightgallery">
      {%for key, myUrl in datarow.meta.gallery%}
        {%if myUrl ends with '.jpg' or myUrl ends with '.png' or myUrl ends with '.gif'%}
          <a data-action href="{{myUrl}}"><img src="{{myUrl}}" alt="{{datarow.title | raw}}"></a>
        {%endif%}
      {%endfor%}
    </div>
  {%endif%}


    <div class="gallery2">
      {%for key, myUrl in datarow.meta.gallery%}
        {%if myUrl ends with '.mp4' %}
        <video controls>
            <source src="{{myUrl}}" type="video/mp4">
        </video>
        {%elseif myUrl ends with '.mp3' %}
          <audio controls><source src="{{myUrl}}" type="audio/mpeg"></audio>
        {%elseif myUrl ends with '.pdf' %}
        <a href="{{myUrl}}" class="btn pA25">PDF</a>
        {%else%}
        {%endif%}
      {%endfor%}
    </div>

{%endblock%}


{%block datatablePosts%}

{%if datarow.type == 'cat'%}

  {%set myPostByThisCat = posts({"cat" : datarow.slug})%}

{%elseif datarow.type == 'tag' %}

  {%set myPostByThisCat = posts({"tag" : datarow.slug})%}

{%endif%}

{%if myPostByThisCat %}
<article class="postListPreview">
  {%for key, value in myPostByThisCat%}
    <section class="f">
{%if value.meta.thumb%}
      <div class="cauto s12 pRa10 txtC">
        <a href="{{value.url}}"><img src="{{value.meta.thumb}}" alt="{{value.title}}" width="150px"></a>
      </div>
{%endif%}
      <div class="c s12">
        <h3><a href="{{value.url}}">{{value.title}}</a></h3>
        <p>{{value.excerpt}}</p>
      </div>
    </section>
  {%endfor%}
</article>
{%endif%}


{%endblock%}



{%block setPostComment%}
{%if datarow.comment == 'open'%}
<h2>{%trans "Comment"%}</h2>
<div class="f justify-center">

<form class="c5" method="post" data-clear autocomplete="off" action="{{url.base}}/comment">

  <input type="hidden" name="post_id" class="hide" value="{{datarow.id}}">
{%if login.id %}
{%else%}
    <div class="f">
      <div class="c pRa5">

        <div class="input">
         <label class="addon" for="name">{%trans "Name"%}</label>
         <input type="text" name="name" id="name" placeholder='{%trans "Full Name"%}' maxlength='40' value="{{user.displayname}}">
        </div>

      </div>
      <div class="c">
        <div class="input">
         <label class="addon" for="mobile">{%trans "Mobile"%}</label>
         <input type="tel" name="mobile" id="mobile" placeholder='{%trans "Mobile"%}' maxlength="13" autocomplete="off" data-validity='{%trans "Please enter valid mobile number. `:val` is incorrect"%}' value="{{user.mobile}}">
        </div>
      </div>

      <input type="text" name="username" class="hide" value="">
    </div>
{%endif%}
    <div class="f">
      <div class="c">
         <textarea class="c txt mT5" name="content" placeholder='{%trans "Your Message"%}' rows="8" minlength="5" maxlength="1000" data-resizable></textarea>
      </div>
    </div>
    <div class="f">
      <div class="c">
        <div class="input mTB10">
         <button type="submit" name="submit-contact" class="btn block primary">{%trans "Send"%}</button>
        </div>
      </div>
    </div>
  </form>



</div>

{%set commentList = comments({"limit" : 60}) %}
{%if commentList%}
  {%for key, value in commentList%}
  <div class="msg">
    <p>{{value.content}}</p>
  </div>
  {%endfor%}
{%endif%}

{%endif%}
{%endblock%}
