<nav class="f align-center">
  <div class="c">{%trans "Share"%}</div>
  <div class="cauto os share1">
    <a target="_blank" title='{%trans "facebook"%}' href="https://www.facebook.com/sharer/sharer.php?u={{url.pwd}}" class="facebook">{{site.title}} {%trans "facebook"%}</a>
    <a target="_blank" title='{%trans "twitter"%}' href="https://twitter.com/home?status={{url.pwd}}" class="twitter">{{site.title}} {%trans "twitter"%}</a>
    <a target="_blank" title='{%trans "linkedin"%}' href="https://www.linkedin.com/shareArticle?mini=true&url={{url.pwd}}&title={{global.title}}&summary={{page.desc}}" class="linkedin">{{site.title}} {%trans "linkedin"%}</a>
    <a target="_blank" title='{%trans "telegram"%}' href="https://t.me/share/url?url={{url.pwd}}&text={{global.title}}" class="telegram">{{site.title}} {%trans "telegram"%}</a>
  </div>
</nav>